<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="de" dir="ltr"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      id="ls-global" lang="de-DE"
      class="no-js">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Muli:400,400i,600,600i,700,700i" rel="stylesheet">
        <script src="js/modernizr.min.js"></script>

        <!-- fontawesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <link href="css/bootstrap-customized.css" rel="stylesheet" type="text/css"/>
        <link href="css/shame.css" rel="stylesheet" type="text/css"/>
        <title>Familienbande24 - alles zu Vornamen, Schwangerschaft, Geburt und Kinder</title>
    </head>

    <body id="home" class="cat-blue">
        <header id="header">
            <div id="top-bar" class="mt-md-4">
                <div class="d-flex align-items-center justify-content-around container-fluid">
                    <a class="navbar-brand bg-image" href="/">
                        <span>familienbande24.de</span>
                    </a>
                    <div class="ads d-none d-xl-block my-3">
                        [ WERBUNG ]
                    </div>
                    <!-- align-self-center d-block d-md-none-->
                    <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        </header>

        <div id="top-nav" class="fixedsticky">
            <nav class="navbar navbar-dark navbar-expand-md">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item home">
                                <a class="nav-link" href="index.php">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown cat-blue">
                                <a class="nav-link dropdown-toggle" href="template-events.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Wohin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="sub-cats">
                                        <div class="sub-cat-01">
                                            <h5 class="dropdown-header dropdown-toggle">Ausflugsziele für Familien &amp; Kinder</h5>
                                            <ul>
                                                <li>Wohin mit Kindern? Hier findet ihr deutschlandweit die schönsten und spannendsten Ausflugsziele. Egal ob zum Spaß haben, Abenteuer erleben, Rätseln, Schwimmen, Wandern, Spielen - hier sind Ziele für Kids jeden Alters zu finden.</li>
                                                <li><a href="/wohin/index.html" class="btn btn-theme">Ausflugsziele suchen</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-cat-02">
                                            <h5 class="dropdown-header dropdown-toggle">
                                                Ausflugsziele nach Bundesländern</h5>
                                            <div class="d-flex justify-content-between">
                                                <ul class="mr-3">
                                                    <li><a href="/wohin/bundesland/Baden-Württemberg/">Baden-Württemberg</a></li>
                                                    <li><a href="/wohin/bundesland/Bayern/">Bayern</a></li>
                                                    <li><a href="/wohin/bundesland/Berlin/">Berlin</a></li>
                                                    <li><a href="/wohin/bundesland/Brandenburg/">Brandenburg</a></li>
                                                    <li><a href="/wohin/bundesland/Bremen/">Bremen</a></li>
                                                    <li><a href="/wohin/bundesland/Hamburg/">Hamburg</a></li>
                                                    <li><a href="/wohin/bundesland/Hessen/">Hessen</a></li>
                                                    <li><a href="/wohin/bundesland/Mecklenburg-Vorpommern/">Meck-Pomm</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="/wohin/bundesland/Niedersachsen/">Niedersachsen</a></li>
                                                    <li><a href="/wohin/bundesland/Nordrhein-Westfalen/">Nordrhein-Westfalen</a></li>
                                                    <li><a href="/wohin/bundesland/Rheinland-Pfalz/">Rheinland-Pfalz</a></li>
                                                    <li><a href="/wohin/bundesland/Saarland/">Saarland</a></li>
                                                    <li><a href="/wohin/bundesland/Sachsen/">Sachsen</a></li>
                                                    <li><a href="/wohin/bundesland/Sachsen-Anhalt/">Sachsen-Anhalt</a></li>
                                                    <li><a href="/wohin/bundesland/Schleswig-Holstein/">Schleswig-Holstein</a></li>
                                                    <li><a href="/wohin/bundesland/Thüringen/">Thüringen</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-cat-03">
                                            <h5 class="dropdown-header dropdown-toggle">Ausflugsziele nach Kategorien</h5>
                                            <ul>
                                                <li><a href='/wohin/kategorie/Escape+Room/'>Escape Rooms</a></li>
                                                <li><a href='/wohin/kategorie/Indoor-Spielplatz/'>Indoor-Spielplätze</a></li>
                                                <li><a href='/wohin/kategorie/Lasertag/'>Lasertag-Arenen</a></li>
                                                <li><a href='/wohin/kategorie/Rodelbahn/'>Sommer-Rodelbahnen</a></li>
                                                <li><a href='/wohin/kategorie/Tierpark/'>Tierparks und Zoos</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown cat-yellow">
                                <a class="nav-link dropdown-toggle" href="/vornamen/index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Vornamen
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="sub-cats">
                                        <div class="sub-cat-01">
                                            <h5 class="dropdown-header dropdown-toggle">Alles über Vornamen</h5>
                                            <ul>
                                                <li>In unserer großen Datenbank mit den schönsten Vornamen könnt ihr Herkunft &amp; Bedeutung, Statistiken zur Beliebtheit, Spitznamen, Alternativen und vieles Wissenswerte mehr zu über 50.000 Vornamen finden.</li>
                                                <li><a href="/vornamen/index.html" class="btn btn-theme">Vornamen-Startseite öffnen</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-cat-02">
                                            <h5 class="dropdown-header dropdown-toggle">Unsere Vornamen-Seiten</h5>
                                            <ul>
                                                <li><a href="/vornamen/index.html">Vornamen-Startseite</a></li>
                                                <li><a href="/vornamen/merkzettel.html">Dein Merkzettel</a></li>
                                                <li><a href="/vornamen/charts/index.html">Beliebteste Vornamen</a></li>
                                                <li><a href="/vornamen/suche.html">Vornamen-Suche</a></li>
                                                <li><a href="/vornamen/vornamen-kugel.html">Interaktive Vornamen-Kugel</a></li>
                                                <li><a href="/vornamen/weltweit.html">Vornamen weltweit</a></li>
                                                <li><a href="/vornamen/allgemein.html">Wissenswertes zu Vornamen</a></li>
                                                <li><a href="/vornamen/namensrecht.html">Vornamen: Rechtliches</a></li>
                                                <li><a href="/vornamen/nachnamen.html">Nachnamen-Finder</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-cat-03">
                                            <h5 class="dropdown-header dropdown-toggle">Vornamen-Schnellsuche</h5>
                                            <ul>
                                                <li>
                                                    Nach welchem Vornamen suchst du?
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown cat-pink">
                                <a class="nav-link dropdown-toggle" href="/wissen/index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wissen</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="sub-cats">
                                        <div class="sub-cat-01">
                                            <h5 class="dropdown-header dropdown-toggle">Wissenswertes</h5>
                                            <ul>
                                                <li>In unserer Wissensdatenbank findest du viele hilfreiche Artikel rund um die Themen Schwangerschaft, Geburt, Familie, Geld und Gesundheit.</li>
                                                <li><a href="/wissen/index.htmlphp" class="btn btn-theme">Alle Artikel zeigen</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-cat-02">
                                            <h5 class="dropdown-header dropdown-toggle">Unsere Themen</h5>
                                            <ul>
                                                <li><a href="/wissen/nachwuchs/index.html">Nachwuchs, Schwangerschaft, Geburt</a></li>
                                                <li><a href="/wissen/geld/index.html">Geld &amp; Finanzen</a></li>
                                                <li><a href="/wissen/gesundheit/index.html">Gesundheit &amp; Medizin</a></li>
                                                <li><a href="/wissen/freizeit/index.html">Freizeit, Spiel &amp; Spass</a></li>
                                            </ul>
                                            <h5 class="dropdown-header dropdown-toggle">Die neuesten Artikel</h5>
                                            <ul>
                                                <li>[ todo: Dynamische Darstellung ]</li>
                                            </ul>
                                        </div>
                                        <div class="sub-cat-03">
                                            <h5 class="dropdown-header dropdown-toggle">Die beliebtesten Artikel</h5>
                                            <ul>
                                                <li>[ todo: Dynamische Darstellung ]</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown cat-green">
                                <a class="nav-link dropdown-toggle" href="/sprueche/index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sprüche</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="sub-cats">
                                        <div class="sub-cat-01">
                                            <h5 class="dropdown-header dropdown-toggle">Sprüche, Witze, Aphorismen</h5>
                                            <ul>
                                                <li>In unserer Sprüche-Datenbank findet ihr viele tolle Sprüche und Aphorismen zu ganz verschiedenen Themen. Aber auch Witze, Rätselfragen und lustige Bauernregeln sind hier zu finden.</li>
                                                <li><a href="/sprueche/index.html" class="btn btn-theme">Sprüche</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-cat-02">
                                            <h5 class="dropdown-header dropdown-toggle">Sprüche-Kategorien</h5>
                                            <div class="d-flex justify-content-between">
                                                <ul class="mr-3">
                                                    <li><a href="/sprueche/aphorismen/index.html">Aphorismen</a></li>
                                                    <li><a href="/sprueche/bauernregeln/index.html">Bauernregeln</a></li>
                                                    <li><a href="/sprueche/familie/index.html">Sprüche über das Familienleben</a></li>
                                                    <li><a href="/sprueche/gebete/index.html">Kindergebete</a></li>
                                                    <li><a href="/sprueche/geburt/gedichte/index.html">Sprüche &amp; Gedichte zur Geburt</a></li>
                                                    <li><a href="/sprueche/geburtstag/index.html">Lustige Geburtstagssprüche</a></li>
                                                    <li><a href="/sprueche/hochzeit/index.html">Verse zur Hochzeit</a></li>
                                                    <li><a href="/sprueche/liebe/index.html">Poetisches rund um die Liebe</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="/sprueche/muttertag/index.html">Muttertag-Sprüche</a></li>
                                                    <li><a href="/sprueche/silvester/index.html">Silvestersprüche</a></li>
                                                    <li><a href="/sprueche/taufsprueche/index.html">Taufsprüche</a></li>
                                                    <li><a href="/sprueche/vatertag/index.html">Glückwünsche zum Vatertag</a></li>
                                                    <li><a href="/sprueche/weihnachten/index.html">Weihnachtsgedichte</a></li>
                                                    <li><a href="/sprueche/winter/index.html">Frostige Wintergedichte</a></li>
                                                    <li><a href="/sprueche/witze/index.html">Lustige Kinderwitze &amp; Scherzfragen</a></li>
                                                    <li><a href="/sprueche/zungenbrecher/index.html">Zungenbrecher</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item search">
                                <a class="nav-link" data-toggle="modal" data-target="#modalSearchDialog">Suche <i class="fas fa-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

		_#HERO#_
		
		<main class="main-content">
			<div class="container">
				<div class="row">
					<section class='main-content'>
						<div class="row">
							<div class="col-lg-8 content order-lg-1" style='height:1000px;'>
								_#CONTENT#_
							</div>
