{!
	$vars->{'hero'}=&main::makeHero("kinder1.jpg","Willkommen bei der Familienbande24","Auf unseren Seiten findest viele Tools, Hilfen und Informationen rund um die Schwangerschaft, die Geburt und allerlei rund das bunte Familienleben.  Bei uns findest du auch ein großes Vornamen-Lexikon, eine bundesweite Hebammen- und Kinderarztsuche und für die Unterhaltung haben wir auch viele Aphorismen, Gedichte, Witze und lustige Sprüche in unserer Sprüche-Sammlung für dich zusammengestellt.");
	"";
!}

<div class="row">
    <div class="col-12 text-center">
        <h2>Unsere wichtigsten Themen auf einen Blick:</h2>
    </div>
	<div class="col-sm-6 cat-blue mb-5">
		<div class="card card-default box-shadow">
		    <div class="card-zoom">
		        <img class="card-img-top img-fluid" src="/g/fotos/wellness-familie1.jpg" alt="Ausflugsziele für Familien">
		    </div>

		    <div class="card-body">
		        <h6 class="category badge-box"><span>Kategorie</span></h6>
		        <h3 class="card-title text-truncate">
		            <a href="#">Ausflugsziele für Familien</a>
		        </h3>
		        <p class="card-text d-none d-lg-block">
					Sommer-Rodelbahnen, Indoor-Spielplätze, Escape-Rooms und viele weitere tolle Ausflugsziele und Erlebnisse für Familien und Kinder.
				</p>
		        <a href="/wohin/index.html" class="btn">Zu den Ausflugszielen</a>
		    </div>
		</div>
	</div>

    <div class="col-sm-6 cat-yellow mb-5">
		<div class="card card-default box-shadow">
		    <div class="card-zoom">
		        <img class="card-img-top img-fluid" src="/g/fotos/vornamen2_mittel.jpg" alt="Vornamen">
		    </div>

		    <div class="card-body">
		        <h6 class="category badge-box"><span>Kategorie</span></h6>
		        <h3 class="card-title text-truncate">
		            <a href="#">Alles über Vornamen</a>
		        </h3>
		        <p class="card-text d-none d-lg-block">
					Über 50.000 Vornamen, Such-Tools, rechtliche Infos, interaktive Vornamen-Finder sowie viele Charts und Statistiken.
				</p>
		        <a href="/vornamen/index.html" class="btn">Zu den Vornamen</a>
		    </div>
		</div>
	</div>
	<div class="col-sm-6 cat-pink mb-5">
		<div class="card card-default box-shadow">
		    <div class="card-zoom">
		        <img class="card-img-top img-fluid" src="/g/fotos/hebamme1.jpg" alt="Hebammen">
		    </div>

		    <div class="card-body">
		        <h6 class="category badge-box"><span>Kategorie</span></h6>
		        <h3 class="card-title text-truncate">
		            <a href="#">Hebammen-Suche</a>
		        </h3>
		        <p class="card-text d-none d-lg-block">
					Über 9.000 Hebammen in ganz Deutschland mit Leistungsprofilen, Kurs-Übersicht, Kontakt-Infos und Alternativen aus deiner Stadt.
				</p>
		        <a href="/vornamen/index.html" class="btn">Zu den Hebammen</a>
		    </div>
		</div>
	</div>

	<div class="col-sm-6 cat-pink mb-5">
		<div class="card card-default box-shadow">
		    <div class="card-zoom">
		        <img class="card-img-top img-fluid" src="/g/fotos/jugendliche1.jpg" alt="Jugend-Lexikon">
		    </div>

		    <div class="card-body">
		        <h6 class="category badge-box"><span>Kategorie</span></h6>
		        <h3 class="card-title text-truncate">
		            <a href="#">Jugendsprech-Lexikon</a>
		        </h3>
		        <p class="card-text d-none d-lg-block">
					Moderne Begriffe, die von Jugendlichen verwendet werden, sind hier mit Erklärungen, Beispielsätzen und Kommentaren zu finden.
				</p>
		        <a href="/wissen/nachwuchs/jugendlexikon/index.html" class="btn">Zum Jugendsprech-Lexikon</a>
		    </div>
		</div>
	</div>

	<div class="col-sm-6 cat-green mb-5">
		<div class="card card-default box-shadow">
			<div class="card-zoom">
				<img class="card-img-top img-fluid" src="/g/fotos/maedchen-buecher2.jpg" alt="Sprüche">
			</div>

			<div class="card-body">
				<h6 class="category badge-box"><span>Kategorie</span></h6>
				<h3 class="card-title text-truncate">
					<a href="#">Sprüche, Gedichte, Aphorismen</a>
				</h3>
				<p class="card-text d-none d-lg-block">
					Neben weisen, lustigen und nachdenklichen Zitaten sind hier auch Witze, Schnellsprechsprüche und Bauernregeln zu finden.
				</p>
				<a href="/sprueche/index.html" class="btn">Zur Sprüche-Schatztruhe</a>
			</div>
		</div>
	</div>

	<div class="col-sm-6 cat-pink mb-5">
		<div class="card card-default box-shadow">
			<div class="card-zoom">
				<img class="card-img-top img-fluid" src="/g/fotos/kinder-spielen2.jpg" alt="Spiele für Drinnen und Draußen">
			</div>

			<div class="card-body">
				<h6 class="category badge-box"><span>Kategorie</span></h6>
				<h3 class="card-title text-truncate">
					<a href="#">Spiel-Ideen für Drinnen &amp; Draußen</a>
				</h3>
				<p class="card-text d-none d-lg-block">
					Neben weisen, lustigen und nachdenklichen Zitaten sind hier auch Witze, Schnellsprechsprüche und Bauernregeln zu finden.
				</p>
				<a href="/sprueche/index.html" class="btn">Zur Sprüche-Schatztruhe</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h2>Weitere Tools und Helferlein:</h2>
    </div>
	<section class="featured">
    	<div id="topicsBlock" class="row flex-column flex-md-row">
    		<div class="col-xs-6 col-sm-3 cat-pink">
				<div class="block text-center mt-4">
				    <h3>
				        <div class="icon">
				            <i class="far fa-calendar-alt"></i>
				        </div>
				        <a href="#">BMI-Rechner</a>
				    </h3>
    				<p class="d-none d-lg-block">BMI für Kinder und Erwachsene - mit BMI-Tagebuch</p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 cat-pink">
				<div class="block text-center mt-4">
				    <h3>
				        <div class="icon">
				            <i class="far fa-calendar-alt"></i>
				        </div>
				        <a href="#">Größen-Rechner</a>
				    </h3>
    				<p class="d-none d-lg-block">Wie groß wird mein Kind? Ein interaktiver Rechner.</p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 cat-pink">
				<div class="block text-center mt-4">
				    <h3>
				        <div class="icon">
				            <i class="far fa-calendar-alt"></i>
				        </div>
				        <a href="#">Geburten-Statistik</a>
				    </h3>
    				<p class="d-none d-lg-block">Wie viele Kinder wurden seit 2010 geboren.</p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 cat-pink">
				<div class="block text-center mt-4">
					<h3>
						<div class="icon">
							<i class="far fa-calendar-alt"></i>
						</div>
						<a href="#">Kinderkrankheiten A-Z</a>
					</h3>
					<p class="d-none d-lg-block">Alle Kinderkrankheiten mit Symptomen und Behandlungen.</p>
				</div>
			</div>
		</div>
	</section>
</div>
